<li class="nav-item">
    <a class="nav-link" id="<%= id %>" onclick="setActiveNavbarItemTo('<%= id %>')" data-bs-target="#main-carousel" data-bs-slide-to="<%= slide_to %>">
        <%= title %>
    </a>
</li>