<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
    </a>
    <span class="navbar-text">Navbar text</span>
    <div class="container-fluid justify-content-center">
        <ul class="navbar-nav">
            
            <!-- populate me -->
            <%= render 'navbar_item', title: 'About me', href: '#', slide_to: 0 %>
            <%= render 'navbar_item', title: 'Projects', href: '#', slide_to: 1 %>
            <%= render 'navbar_item', title: 'Contact', href: '#', slide_to: 2 %>
        </ul>
    </div>
</nav>