<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
    </a>
    <span class="navbar-text">Navbar text</span>
    <div class="container-fluid justify-content-center">
        <ul class="navbar-nav">
            
            <!-- populate me -->
            <%= render 'navbar_item', title: 'About me', slide_to: 0, id: 'about-nav-btn' %>
            <%= render 'navbar_item', title: 'Projects', slide_to: 1, id: 'project-nav-btn' %>
            <%= render 'navbar_item', title: 'Contact', slide_to: 2, id: 'contact-nav-btn' %>
        </ul>
    </div>
</nav>