<div id="main-carousel" class="carousel slide" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      
      <%= render 'application/about/main' %>

    </div>
    <div class="carousel-item">
      
      <%= render 'projects/main' %>

    </div>
    <div class="carousel-item">
      
      <%= render 'application/contact/main' %>

    </div>
  </div>
</div>